<mat-card>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <mat-card-header>
      <mat-card-title class="text-center">
        Ustawienia użytkownika
      </mat-card-title>
      <mat-card-subtitle class="text-center">
        Zarządzaj swoimi ustawieniami z jednego miejsca.
      </mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content class="text-center">
    <mat-spinner [hidden]="dataFetched" class="m-auto"></mat-spinner>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <form [formGroup]="userSettingsForm" [hidden]="!dataFetched" class="example-form" novalidate>
        <mat-form-field class="example-full-width">
          <mat-label>Twoje imie / Nazwa Twojej firmy</mat-label>
          <input formControlName="name" matInput placeholder="Przykład: Jan / Moja Firma" type="text">
          <mat-error *ngIf="userSettingsForm.get('name').hasError('required')">
            Twoje imie / Nazwa Twojej firmy jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Adres email</mat-label>
          <input formControlName="email" matInput placeholder="Przykład: mojmail@domena.pl" type="text">
          <mat-error *ngIf="userSettingsForm.get('email').hasError('email')
              && !userSettingsForm.get('email').hasError('required')">
            Wprowadź poprawny adres email
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('email').hasError('required')">
            Email jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>
        <hr>
        <p class="custom-font">Zmiana hasła</p>
        <mat-form-field class="example-full-width">
          <mat-label>Hasło</mat-label>
          <input formControlName="password" matInput placeholder="***********" type="password">
          <mat-hint>
            <div class="d-flex flex-row justify-content-around">
              <div>
                <ul>
                  <li [className]="this.testPasswordLength(this.userSettingsForm.get('password').value)
                       ? 'passed-condition': ''">6 lub więcej znaków (aktualna długość: {{this.getPasswordLength()}})
                  </li>
                  <li [className]="this.testPasswordOneLetter(this.userSettingsForm.get('password').value)
                      ? 'passed-condition': ''">Jedna litera
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li [className]="this.testPasswordOneNumber(this.userSettingsForm.get('password').value)
                       ? 'passed-condition': ''">Jedna liczba
                  </li>
                  <li [className]="this.testPasswordOneSpecialCharacter(this.userSettingsForm.get('password').value)
                       ? 'passed-condition': ''">Jeden znak specjalny (np. $)
                  </li>
                </ul>
              </div>
            </div>
          </mat-hint>
          <mat-error *ngIf="userSettingsForm.get('password').hasError('required')">
            Hasło jest <strong>wymagane</strong>
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('password').hasError('ValidatePasswordLength')">
            Hasło musi zawierać <strong>więcej niż 6 znaków</strong>
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('password').hasError('ValidatePasswordOneLetter')">
            Hasło musi zawierać <strong>conajmniej jedną literę</strong>
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('password').hasError('ValidatePasswordOneNumber')">
            Hasło musi zawierać <strong>conajmniej jedną cyfrę</strong>
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('password').hasError('ValidatePasswordOneSpecialCharacter')">
            Hasło musi zawierać <strong>conajmniej jeden znak specjalny (np. $)</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Powtórz hasło</mat-label>
          <input formControlName="passwordRepeat" matInput placeholder="***********" type="password">
          <mat-error *ngIf="userSettingsForm.get('password').value &&
           userSettingsForm.get('passwordRepeat').hasError('required')">
            Potwórzenie hasła jest <strong>wymagane</strong>
          </mat-error>
          <mat-error *ngIf="userSettingsForm.get('password').value &&
           userSettingsForm.get('passwordRepeat').hasError('ValidatePasswordsEquality')">
            Hasła muszą być <strong>identyczne</strong>
          </mat-error>
        </mat-form-field>
        <hr>
        <p class="custom-font">Ustawienia własne</p>
        <mat-form-field class="example-full-width">
          <mat-label>Po której stronie ma być domyślnie ustawiony pasek nawigacji?</mat-label>
          <mat-select [compareWith]="compareSidenavDirection" formControlName="sidenavDirection">
            <mat-option *ngFor="let sideNavDirection of sidenavDirections" [value]="sideNavDirection">
              {{ sideNavDirection.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Ilość elementów wyświetlanych w tablicach</mat-label>
          <mat-select [compareWith]="compareCustomPageSize" formControlName="customPageSize" name>
            <mat-option *ngFor="let customPageSize of customPageSizes" [value]="customPageSize">
              {{ customPageSize.pageSize }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="mt-2 p-2 d-flex flex-row justify-content-between">
          <button (click)="onSubmit()" color="primary" mat-raised-button mat-raised-button>Zapisz zmiany</button>
          <button (click)="resetToUserSettingsFromDatabase()" mat-raised-button mat-raised-button>Porzuć zmiany</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
