<h2 class="text-center" mat-dialog-title>Udostępnij swój link</h2>
<div class="d-flex flex-row justify-content-center align-items-center">
  <div class="d-flex flex-column p-2 m-2
  text-center
  justify-content-center align-items-center">
    <button #facebookButton="shareButton" [style.backgroundColor]="'#4267B2'"
            mat-fab
            shareButton="facebook">
      <i class="fab fa-facebook fa-lg"></i>
    </button>
    Facebook
  </div>
  <div class="d-flex flex-column p-2 m-2
  text-center
  justify-content-center align-items-center">
    <button #twitterButton="shareButton" [style.backgroundColor]="'#00acee'"
            [url]="link"
            mat-fab
            shareButton="twitter">
      <i class="fab fa-twitter fa-lg"></i>
    </button>
    Twitter
  </div>
  <div class="d-flex flex-column p-2 m-2
  text-center
  justify-content-center align-items-center">
    <button #linkedinButton="shareButton" [style.backgroundColor]="'#006fa6'"
            [url]="link"
            mat-fab
            shareButton="linkedin">
      <i class="fab fa-linkedin fa-lg"></i>
    </button>
    LinkedIn
  </div>
</div>
<button mat-button color="primary" (click)="close()">
  <mat-icon>close</mat-icon>Zamknij
</button>
