.example-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.custom-font {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

