<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="d-flex flex-column justify-content-center align-items-center m-2 p-2">
    <div>
      <mat-card class="d-flex flex-column align-items-center">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-center">Zapomniałeś hasła?</h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="text-center">
              Spokojnie - wpisz swój adres email, którym logujesz się do naszej platformy<br>
              i pomożemy Ci zresetować hasło.
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="text-center">
          <form [formGroup]="forgotPasswordForm" class="example-form" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Adres email</mat-label>
              <input formControlName="email" matInput placeholder="Przykład: mojmail@domena.pl" type="text">
              <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')
              && !forgotPasswordForm.get('email').hasError('required')">
                Wprowadź poprawny adres email
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                Email jest <strong>wymagany</strong>
              </mat-error>
            </mat-form-field>
            <div class="mt-2 d-flex flex-column">
              <button (click)="onSubmit()" color="primary" mat-raised-button>Resetuj hasło</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
