<app-navbar></app-navbar>
<div class="container-fluid">
  <mat-spinner [hidden]="dataFetched" class="m-auto"></mat-spinner>
  <div class="d-flex flex-column justify-content-center align-items-center m-2 p-2">
    <div>
      <mat-card [hidden]="isResetPasswordTokenValid">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-center">Coś poszło nie tak</h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="text-center">Podany token jest niepoprawny lub wygasł. Przejdź do <a
              [routerLink]="['/pages/forgot-password']" class="text-decoration-none">formularza resetowania hasła</a>, aby zresetować hasło.</p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card [hidden]="!isResetPasswordTokenValid">
        <mat-card-header>
          <mat-card-title>
            <h3 class="text-center">Resetowanie hasła</h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="text-center">Pamiętaj o używaniu unikalnych haseł w różnych serwisach internetowych</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="text-center d-flex flex-column justify-content-center align-items-center">
          <form [formGroup]="newPasswordForm" class="example-form" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Hasło</mat-label>
              <input formControlName="password" matInput placeholder="***********" type="password">
              <mat-hint>
                <div class="d-flex flex-row justify-content-around">
                  <div>
                    <ul>
                      <li [className]="this.testPasswordLength(this.newPasswordForm.get('password').value)
                       ? 'passed-condition': ''">6 lub więcej znaków (aktualna długość: {{this.getPasswordLength()}})
                      </li>
                      <li [className]="this.testPasswordOneLetter(this.newPasswordForm.get('password').value)
                      ? 'passed-condition': ''">Jedna litera
                      </li>
                    </ul>
                  </div>
                  <div>
                    <ul>
                      <li [className]="this.testPasswordOneNumber(this.newPasswordForm.get('password').value)
                       ? 'passed-condition': ''">Jedna liczba
                      </li>
                      <li [className]="this.testPasswordOneSpecialCharacter(this.newPasswordForm.get('password').value)
                       ? 'passed-condition': ''">Jeden znak specjalny (np. $)
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-hint>
              <mat-error *ngIf="newPasswordForm.get('password').hasError('required')">
                Hasło jest <strong>wymagane</strong>
              </mat-error>
              <mat-error *ngIf="newPasswordForm.get('password').hasError('ValidatePasswordLength')">
                Hasło musi zawierać <strong>więcej niż 6 znaków</strong>
              </mat-error>
              <mat-error *ngIf="newPasswordForm.get('password').hasError('ValidatePasswordOneLetter')">
                Hasło musi zawierać <strong>conajmniej jedną literę</strong>
              </mat-error>
              <mat-error *ngIf="newPasswordForm.get('password').hasError('ValidatePasswordOneNumber')">
                Hasło musi zawierać <strong>conajmniej jedną cyfrę</strong>
              </mat-error>
              <mat-error *ngIf="newPasswordForm.get('password').hasError('ValidatePasswordOneSpecialCharacter')">
                Hasło musi zawierać <strong>conajmniej jeden znak specjalny (np. $)</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <br>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Powtórz hasło</mat-label>
              <input formControlName="passwordRepeat" matInput placeholder="***********" type="password">
              <mat-error *ngIf="newPasswordForm.get('passwordRepeat').hasError('required')">
                Potwórzenie hasła jest <strong>wymagane</strong>
              </mat-error>
              <mat-error *ngIf="newPasswordForm.get('passwordRepeat').hasError('ValidatePasswordsEquality')">
                Hasła muszą być <strong>identyczne</strong>
              </mat-error>
            </mat-form-field>
            <br>
          </form>
        </mat-card-content>
        <div class="mt-2 p-2 d-flex flex-row justify-content-between">
          <button (click)="onSubmit()" mat-raised-button>Zapisz nowe hasło</button>
          <button (click)="clearForm()" mat-raised-button>Wyczyść formularz</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
