@media (min-width: 576px){

  .custom-container-size {
    width: 500px;
  }

}

@media (min-width: 768px){

  .custom-container-size {
    width: 700px;
  }

}

@media (min-width: 992px){

  .custom-container-size {
    width: 992px;
  }

}

@media (min-width: 1200px){

  .custom-container-size {
    width: 1200px;
  }

}
