<app-navbar></app-navbar>
<!--1 row start-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
    <div class="my-3 py-3">
      <h2 class="display-5">Skracaj swoje linki w mgnieniu oka</h2>
      <p class="lead">Dzięki naszym szybkim usługom możesz skrócić swój link w mniej niż 400ms (przeciętne mrugnięcie oka).</p>
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded mt-2 mt-md-0">
    <div class="my-3 p-3">
      <h2 class="display-5">Stwórz swój własny link</h2>
      <p class="lead">Losowo wygenerowane znaki nic nie mówią? Stwórz <strong>personalizowany link</strong> i opublikuj go
        bezpośrednio z naszej platformy w jednym z mediów społecznościowych wspieranych przez nas.</p>
      <div class="d-flex flex-row justify-content-center">
        <i class="fab fa-facebook fa-3x m-1 custom-icon facebook-icon" data-toggle="tooltip" data-placement="top" title="Facebook"></i>
        <i class="fab fa-twitter fa-3x m-1 custom-icon twitter-icon" data-toggle="tooltip" data-placement="top" title="Twitter"></i>
        <i class="fab fa-linkedin fa-3x m-1 custom-icon linkedin-icon" data-toggle="tooltip" data-placement="top" title="LinkedIn"></i>
      </div>
    </div>
  </div>
</div>
<!--1 row end-->
<!--2 row start-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
    <div class="my-3 py-3">
      <h2 class="display-5">Sprawdź, ile osób kliknęło</h2>
      <p class="lead">Dzięki zarejestrowaniu konta możesz śledzić aktywność swoich linków, a proste raporty ułatwią Ci zrozumienie danych.</p>
      <img src="assets/images/features/feature-2.jpg" class="img-fluid rounded" alt="Obraz pokazujący różne typy wykresów, notes oraz laptopa">
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded mt-2 mt-md-0">
    <div class="my-3 p-3">
      <h2 class="display-5">Generuj QR kody z krótkich linków</h2>
      <p class="lead">
        Dzięki <a [routerLink]="['/pages/pricing']" class="text-decoration-none"><strong>planowi Pro</strong></a> możesz generować kody QR, które w łatwy sposób mogą być użyte na plakatach, billboardach czy w mediach społecznościowych.
      </p>
      <img src="assets/images/features/feature-3.jpg" class="img-fluid rounded" alt="Obraz pokazuje telefon na tle zieleni z kodem QR">
    </div>
  </div>
</div>
<!--2 row end-->
<!--3 row start-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
    <div class="my-3 py-3">
      <h2 class="display-5">Twórz bezpieczne i niezawodne linki</h2>
      <p class="lead">Możesz być pewny, że twoje linki są bezpieczne. Każdy link jest szyfrowany za pomocą protokołu HTTPS,
        aby zabezpieczyć się przed podsłuchem lub ingerencją osób trzecich - ponieważ masz ważniejsze sprawy, którymi musisz się martwić.</p>
      <img src="assets/images/features/feature-5.jpg" class="img-fluid rounded" width="90%" alt="Zdjęcie kodu jednego z języków programowania">

    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded mt-2 mt-md-0">
    <div class="my-3 p-3">
      <h2 class="display-5">
        Ulepszamy naszą usługę <strong>dla Ciebie</strong>
      </h2>
      <p class="lead">Nasz zespół ciągle pracuje nad ulepszaniem serwisu oraz dodawaniem nowych funkcjonalności,
        aby tworzenie linków było jeszcze szybsze i przyjemniejsze.</p>
      <img src="assets/images/features/feature-4.jpg" class="img-fluid rounded" alt="Dwie osoby, które patrzą na ekran komputera">
    </div>
  </div>
</div>
<!--3 row end-->
