@media (min-width: 768px){
  table {
    width: 100%;
  }
}
.active-user-account {
  color: green;
}

.inactive-user-account {
  color: gray;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.custom-font {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
