@media (min-width: 576px){

  .custom-input-field {
    width: 300px;
  }

}

@media (min-width: 768px){

  .custom-input-field {
    width: 300px;
  }

}

@media (min-width: 992px){

  .custom-input-field {
    width: 300px;
  }

}

@media (min-width: 1200px){

  .custom-input-field {
    width: 300px;
  }


}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
